.addButton {
    border-color: #809d87;
    width: 35px;
    height: 35px;
    justify-content: center;
    font-weight: bold;
    margin-left: 5px;
}

.favorites {
    color: white;
    display: inline-block;
}

.songList {
    position: relative;
    text-align: center;
    margin: 13px;
    margin-left: 14px;
    border: 5px solid #809d87;
    padding-bottom: 1px;
}

.favoriteButton {
    border-color: #809d87;
    color: white;
    background-color: #809d87;
    font-weight: bold;
    width: 10px;
    height: 10px;
}

.favoriteHeader {
    text-align: center;
    color: white;
    margin-top: 7px;
    margin-bottom: 7px;
}

.spotify-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

img {
    width: 200px;
    height: 200px;
}