.happySongs {
    border: 1px solid #6e886b;
    margin: 7px;
    padding: 7px;
    background-color: #6e886b;
    color: #ffb887;
    width: 170px;
    height: 100px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.happyButton {
    border-color: #6e886b;
    color: #ffb887;
    background-color: #6e886b;
    width: 130px;
    font-weight: bold;
}

.happyHeader {
    text-align: center;
    color: #6e886b;
}