.navbar {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    border: 1px solid white;
    background-color: white;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    margin: 25px;
    text-align: center;
}

.navbar__link {
    text-decoration: none;
    color: #809d87;
    font-weight: bold;
    font-size: 17px;
}


